*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  line-height: 1.2;
}
.desktop-53-child {
  position: absolute;
  top: 204.38rem;
  /* left: calc(50% - 721px); */
  background-color: var(--color-gray-100);
  /* width: 90.06rem; */
width: 100%;
/* height: 100vh; */
  height: 88.94rem;
}
.desktop-53-item {
  position: absolute;
  /* bottom: 246.31rem; */
  /* left: calc(50% - 720px); */
  /* width: 90rem; */
  width: 100%;
  height: 100vh;
  /* object-fit: cover; */
}
.desktop-53-inner {
  position: absolute;
  top: -5.81rem;
  left: 1.46rem;
  border-radius: var(--br-77xl);
  background-color: var(--color-gray-400);
  width: 55.03rem;
  height: 50.46rem;
  transform: rotate(26.83deg);
  transform-origin: 0 0;
}
.it-is-my1 {
  position: absolute;
  top: 26.75rem;
  left: 8rem;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 23.63rem;
}
.dr-ravi-chatterjee2,
.empowering-individuals-to1 {
  position: absolute;
  font-family: var(--font-roboto-serif);
}
.dr-ravi-chatterjee2 {
  top: 2rem;
  left: 2.25rem;
  font-weight: 500;
}
.empowering-individuals-to1 {
  top: 15.63rem;
  left: 7.88rem;
  font-size: var(--font-size-21xl);
  display: inline-block;
  width: 30.06rem;
}
.home-group {
  position: absolute;
  top: 2.19rem;
  left: 35.31rem;
  width: 42rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.home-group .email{
  cursor: pointer;
}

.home-group .email:hover{
font-weight: bold;
}



.frame-child1,
.rectangle-icon {
  position: absolute;
  top: 0.13rem;
  left: 0.06rem;
  height: 37rem;
}
.rectangle-icon {
  border-radius: var(--br-30xl);
  width: 74.25rem;
  width: 100%;
  object-fit: cover;
}
.frame-child1 {
  border-radius: var(--br-30xl) 0 0 var(--br-30xl);
  background: linear-gradient(90deg, #000, transparent);
  /* width: 39.25rem; */

}
.i-am2 {
  margin: 0;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  color: var(--color-white);
}
.dr-ravi2 {
  margin: 0;
  font-weight: 900;
}
.i-am-dr-container2 {
  position: absolute;
  top: 3.44rem;
  left: calc(50% - 535.5px);
}
.frame-child2,
.frame-child3 {
  position: absolute;
  top: 0;
  left: 0.06rem;
  height: 37rem;
}
.frame-child2 {
  border-radius: var(--br-30xl);
  /* width: 74.25rem; */
  width: 100%;
  object-fit: cover;
}
.frame-child3 {
  border-radius: 0 0 0 var(--br-30xl);
  background: linear-gradient(90deg, #000, transparent);
  width: 39.19rem;
}
.i-am-dr-container3 {
  position: absolute;
  top: 3.56rem;
  left: calc(50% - 535.5px);
  font-family: var(--font-roboto-serif);
}
.educator-entrepreneur1 {
  position: absolute;
  top: 17.25rem;
  left: 4.06rem;
  font-size: var(--font-size-5xl);
  font-weight: 300;
  color: var(--color-whitesmoke-100);
}
.read-more {
  color: var(--color-chocolate);
}
.dr-ravi-chatterjee-container {
  position: absolute;
  top: 22.81rem;
  left: 3.69rem;
  font-size: var(--font-size-xl);
  text-align: justify;
  display: inline-block;
  width: 27.94rem;
  color: var(--color-white);
}
.arrow-up-351-svgrepo-com-1-icon1 {
  position: relative;
  width: 2.35rem;
  height: 2.35rem;
  overflow: hidden;
  flex-shrink: 0;
}
.get-to-know-me-more-group {
  position: absolute;
  top: 39.88rem;
  left: 0;
  border-radius: var(--br-15xl);
  border: 1px solid var(--color-chocolate);
  box-sizing: border-box;
  width: 18.06rem;
  height: 3.06rem;
  display: flex;
  flex-direction: row;
  padding: 0.39rem 0.9rem 1.01rem;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xs);
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.rectangle-group {
  position: relative;
  width: 74.31rem;
  /* width: 100%; */
  height: 42.94rem;
}
.frame-child4,
.frame-div {
  position: absolute;
  box-sizing: border-box;
}
.frame-div {
  top: 100vh;
  /* left: calc(50% - 721px); */
  border-radius: 0 0 var(--br-110xl) var(--br-110xl);
  background-color: var(--color-gray-100);
  /* width: 90.06rem; */
  width: 100%;
  height: 67.13rem;
  display: flex;
  flex-direction: column;
  padding: 9.25rem 0;
  align-items: center;
  justify-content: flex-start;
  /* justify-content: center; */
  font-size: var(--font-size-45xl);
  color: var(--color-chocolate);
}
.frame-child4 {
  top: 8.75rem;
  left: calc(50% - 518px);
  border-radius: var(--br-29xl);
  border: 1px solid var(--color-black);
  width: 64.75rem;
  height: 33.5rem;
}
.linkedin {
  font-weight: 900;
}
.newsletter {
  font-size: var(--font-size-21xl);
}
.linkedin-newsletter {
  position: absolute;
  top: 2.94rem;
  left: calc(50% - 489px);
  font-size: var(--font-size-29xl);
  font-family: var(--font-roboto-serif);
}
.published-on-july,
.stress-the-stress {
  position: absolute;
  left: calc(50% - 34px);
}
.stress-the-stress {
  top: 12.69rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-roboto-serif);
}
.published-on-july {
  top: 15.94rem;
  font-weight: 900;
  color: var(--color-chocolate);
}
.frame-child5 {
  position: absolute;
  top: 13rem;
  left: 13.88rem;
  border-radius: var(--br-5xl);
  /* width: 17.63rem; */

  height: 23.06rem;
  object-fit: cover;
}
.have-you-ever {
  position: absolute;
  top: 19.06rem;
  left: 35.06rem;
  text-align: justify;
  display: inline-block;
  width: 25.25rem;
}
.frame-child6,
.frame-child8,
.group-icon {
  position: absolute;
  top: 23.81rem;
  left: 64.13rem;
  width: 2.31rem;
  height: 2.31rem;
}
.frame-child6,
.frame-child8 {
  left: 7.75rem;
}
.frame-child8 {
  top: 31.75rem;
  left: 13.94rem;
  border-radius: 0 0 var(--br-5xl) var(--br-5xl);
  background-color: var(--color-black);
  width: 17.63rem;
  height: 5.88rem;
}
.frame-child9 {
  position: absolute;
  top: 8.81rem;
  left: calc(50% - 518px);
  border-radius: var(--br-29xl);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 64.75rem;
  height: 33.5rem;
}
.the-linkedin-article {
  position: relative;
  font-weight: 900;
}
.view-the-full {
  position: relative;
  text-decoration: underline;
}
.arrow-up-351-svgrepo-com-1-icon2 {
  position: relative;
  width: 1.39rem;
  height: 1.39rem;
  overflow: hidden;
  flex-shrink: 0;
}
.the-linkedin-article-parent,
.view-the-full-version-parent {
  width: 10.57rem;
  height: 1.39rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-base);
}
.the-linkedin-article-parent {
  position: absolute;
  top: 32.88rem;
  left: 15.44rem;
  width: 13.56rem;
  height: 3.51rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xs);
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.arrow-up-351-icon {
  position: relative;
  width: 1.24rem;
  height: 1.24rem;
}
.view-the-newsletter-parent {
  position: absolute;
  top: 30.69rem;
  left: 35.06rem;
  border-radius: var(--br-15xl);
  background-color: var(--color-chocolate);
  width: 16.56rem;
  height: 3.06rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) 0.66rem 0.96rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-2xs);
  font-size: var(--font-size-xl);
}
.rectangle-container {
  position: absolute;
  top: 110.88rem;
/* top: 214vh; */
  left: calc(50% - 594px);

  border-radius: var(--br-29xl);
  background-color: #e7e7e7;
  width: 74.25rem;
  height: 45.69rem;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.desktop-53-child1 {
  position: absolute;
  top: 17.94rem;
  left: 37.94rem;
  border-radius: 50%;
  background-color: var(--color-whitesmoke-200);
  width: 7.81rem;
  height: 7.81rem;
}
.drrc-logo-11,
.frame-child10,
.frame-child11 {
  position: absolute;
  top: 19.75rem;
  left: 39.56rem;
  width: 4.56rem;
  height: 4.19rem;
  object-fit: cover;
}
.frame-child10,
.frame-child11 {
  top: 13.63rem;
  left: 4.56rem;
  border-radius: var(--br-5xl) var(--br-5xl) 0 0;
  width: 32.81rem;
  height: 18.75rem;
}
.frame-child11 {
  top: 2.06rem;
  left: 61.38rem;
  width: 17.38rem;
}
.my-periphery {
  position: absolute;
  top: 0;
  left: calc(50% - 595px);
  font-size: var(--font-size-45xl);
  font-weight: 900;
}
.frame-child12,
.frame-child13 {
  position: absolute;
  border-radius: 0 0 var(--br-5xl) var(--br-5xl);
}
.frame-child12 {
  top: 32.38rem;
  left: 4.56rem;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 32.81rem;
  height: 5.88rem;
}
.frame-child13 {
  top: 20.81rem;
  left: 61.38rem;
  background-color: var(--color-black);
  width: 17.38rem;
  height: 7.69rem;
}
.how-industry-connections {
  align-self: stretch;
  position: relative;
  font-weight: 900;
}
.read-the-full {
  flex: 1;
  position: relative;
  text-decoration: underline;
}
.read-the-full-transcript-of-th-wrapper {
  width: 17.32rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-base);
}
.how-industry-connections-can-b-parent {
  position: absolute;
  top: 33.56rem;
  left: 6.63rem;
  width: 28.44rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.innovations-in-service {
  position: absolute;
  top: 22rem;
  left: 62.44rem;
  font-weight: 900;
  color: var(--color-white);
  display: inline-block;
  width: 16.38rem;
}
.industry-relations {
  position: absolute;
  top: 5.38rem;
  left: calc(50% - 592px);
  font-size: var(--font-size-21xl);
  font-weight: 500;
}
.watch-the {
  margin: 0;
}
.watch-the-seminar-container {
  position: absolute;
  top: 1.69rem;
  left: calc(50% - 12px);
  font-size: var(--font-size-21xl);
  font-weight: 900;
}
.lorem-ipsum-dolor,
.read-more-of {
  position: absolute;
  text-align: justify;
}
.lorem-ipsum-dolor {
  top: 14.88rem;
  left: 40.94rem;
  display: inline-block;
  width: 16.56rem;
}
.read-more-of {
  top: 30.25rem;
  left: 61.38rem;
  font-size: var(--font-size-xl);
}
.published-on-july1 {
  position: absolute;
  top: 10.94rem;
  left: calc(50% - 589px);
  font-size: var(--font-size-base);
  font-weight: 900;
  color: var(--color-chocolate);
}
.read-the-full1 {
  position: relative;
  text-decoration: underline;
  display: inline-block;
  width: 10.79rem;
  flex-shrink: 0;
}
.arrow-up-351-svgrepo-com-1-icon3 {
  position: relative;
  width: 1.39rem;
  height: 1.39rem;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: -2.12rem;
}
.read-the-full-paper-parent {
  position: absolute;
  top: 25.88rem;
  left: 62.47rem;
  width: 10.79rem;
  height: 1.39rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.see-the-list {
  position: relative;
  text-decoration: underline;
  font-weight: 500;
}
.arrow-up-351-svgrepo-com-1-icon4 {
  position: relative;
  width: 1.99rem;
  height: 1.99rem;
  overflow: hidden;
  flex-shrink: 0;
}
.see-the-list-parent {
  position: absolute;
  top: 33rem;
  left: 61.38rem;
  border-radius: var(--br-15xl);
  border: 1px solid var(--color-chocolate);
  box-sizing: border-box;
  width: 10.75rem;
  height: 3.06rem;
  display: flex;
  flex-direction: row;
  padding: 0 0.59rem var(--padding-4xs) var(--padding-2xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  font-size: var(--font-size-xl);
}
.frame-child14,
.frame-child15 {
  position: absolute;
  top: 16.81rem;
  width: 2.31rem;
  height: 2.31rem;
}
.frame-child14 {
  left: 81.06rem;
}
.frame-child15 {
  left: 0;
}
.frame-section {
  position: absolute;
  top: 159.38rem;
  /* width: 100%; */
  left: calc(50% - 667px);
  width: 83.38rem;
  height: 38.25rem;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.frame-child16,
.frame-child17 {
  position: absolute;
  top: 1.04rem;
  left: 3.08rem;
  border-radius: 9.39px;
  background-color: var(--color-chocolate);
  box-shadow: 0 0 7.43px 0.39px rgba(0, 0, 0, 0.25);
  width: 2.56rem;
  height: 0.42rem;
}
.frame-child17 {
  top: 1.82rem;
}
.frame-child18,
.frame-child19 {
  position: absolute;
  background-color: var(--color-black);
}
.frame-child18 {
  top: 2.72rem;
  left: 3.08rem;
  border-radius: 9.39px;
  box-shadow: 0 0 7.43px 0.39px rgba(0, 0, 0, 0.25);
  width: 2.54rem;
  height: 0.14rem;
}
.frame-child19 {
  top: 1.13rem;
  left: 0.91rem;
  border-radius: 50%;
  width: 1.64rem;
  height: 1.64rem;
}
.rectangle-parent1 {
  position: absolute;
  top: 26.74rem;
  left: 8.06rem;
  border-radius: 9.39px;
  background-color: var(--color-white);
  box-shadow: 0 0 7.43px 0.39px rgba(0, 0, 0, 0.25);
  width: 6.57rem;
  height: 3.9rem;
  opacity: 0.4;
}
.hear-form-other {
  font-weight: 500;
}
.span {
  font-weight: 600;
  font-family: var(--font-roboto);
}
.hear-form-other-people-listen {
  line-height: 129.69%;
}
.dr-ravi-chatterjee3 {
  line-height: 166.69%;
  font-weight: 900;
  font-family: var(--font-roboto-serif);
  color: var(--color-chocolate);
}
.hear-form-other-container {
  position: absolute;
  top: 5.38rem;
  left: calc(50% - 756.68px);
  display: inline-block;
  width: 47.81rem;
}
.frame-child20 {
  position: absolute;
  top: 30rem;
  left: 88.85rem;
  border-radius: var(--br-77xl);
  background-color: var(--color-gray-300);
  width: 40.31rem;
  height: 30.87rem;
  /* transform: rotate(130deg); */
  transform: rotate(153.17deg);
  transform-origin: 0 0;
}
.lorem-ipsum-dolor1 {

  position: absolute;
  top: 20.44rem;
  left: 58.63rem;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 15.24rem;
}
.frame-child21,
.frame-child22 {
  position: absolute;

  top: 1.54rem;
  left: 4.55rem;
  border-radius: 9.39px;
  background-color: var(--color-chocolate);
  box-shadow: 0 0 7.43px 0.39px rgba(0, 0, 0, 0.25);
  width: 3.77rem;
  height: 0.61rem;
}
.frame-child22 {
  top: 2.68rem;
}
.frame-child23,
.frame-child24 {
  position: absolute;
  background-color: var(--color-black);
}
.frame-child23 {
  top: 4.01rem;
  left: 4.55rem;
  border-radius: 9.39px;
  box-shadow: 0 0 7.43px 0.39px rgba(0, 0, 0, 0.25);
  width: 3.74rem;
  height: 0.2rem;
}
.frame-child24 {
  top: 1.67rem;
  left: 1.34rem;
  border-radius: 50%;
  width: 2.43rem;
  height: 2.43rem;
}
.rectangle-parent2 {
  position: absolute;
  top: 25.69rem;
  left: 13.63rem;
  border-radius: 9.39px;
  background-color: var(--color-white);
  box-shadow: 0 0 7.43px 0.39px rgba(0, 0, 0, 0.25);
  width: 9.7rem;
  height: 5.75rem;
  opacity: 0.6;
}
.name-of-the-container {
  position: absolute;
  top: 2.5rem;
  left: 9.31rem;
  font-weight: 900;
  display: inline-block;
  width: 8.5rem;
  height: 4.75rem;
}
.designation {
  position: absolute;
  top: 6.44rem;
  left: 9.34rem;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.frame-child25 {
  position: absolute;
  top: 2.5rem;
  left: 2.31rem;
  width: 5.7rem;
  height: 5.7rem;
}
.name-of-the-person-parent {
  position: absolute;
  top: 23.25rem;
  left: 19.56rem;
  border-radius: 24.59px;
  background-color: var(--color-white);
  box-shadow: 0 0 19.47px 1.02px rgba(0, 0, 0, 0.25);
  width: 20.13rem;
  height: 10.81rem;
  font-size: 1.54rem;
  color: var(--color-chocolate);
}
.frame-parent {
  position: absolute;
  top: 205.69rem;
  left: 10.69rem; 
  width: 94.59rem;
  height: 49.31rem;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.connect-with-me {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-13xl);
}
.what-is-on-your-mind-parent {
  position: absolute;
  top: 5.88rem;
  left: 1.56rem;
  width: 14.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.lorem-ipsum-dolor2 {
  position: absolute;
  top: 9.38rem;
  left: calc(50% - 258.5px);
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 18.94rem;
}
.email {
  position: relative;
}
.email-wrapper,
.say-something-wrapper {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-100);
}
.email-wrapper {
  height: 4.63rem;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-17xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
}
.say-something-wrapper {
  height: 8.06rem;
  padding: var(--padding-3xl) var(--padding-17xl);
  justify-content: flex-start;
}
.frame-container,
.say-something-wrapper,
.submit-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
}
.submit-wrapper {
  border-radius: var(--br-15xl);
  background-color: var(--color-chocolate);
  width: 7.38rem;
  height: 3.06rem;
  padding: var(--padding-xs) var(--padding-7xl);
  justify-content: flex-end;
  color: var(--color-black);
}
.frame-container {
  position: absolute;
  top: 5.88rem;
  left: 47.06rem;
  width: 28.44rem;
  padding: 0 0 0 var(--padding-11xs);
  justify-content: flex-start;
  gap: var(--gap-9xl);
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.frame-child26 {
  position: absolute;
  top: 0;
  left: 47.75rem;
  width: 27.75rem;
  height: 3.44rem;
}
.cookie-policy,
.privacy,
.terms-of-use {
  position: absolute;
  top: 1.44rem;
  left: 53.94rem;
  line-height: 1.63rem;
}
.cookie-policy,
.privacy {
  left: 62.75rem;
}
.privacy {
  left: 72.5rem;
}
.dr-ravi-chatterjee4 {
  position: absolute;
  top: 1.19rem;
  left: 1rem;
  letter-spacing: 1px;
  line-height: 2.19rem;
  display: inline-block;
  width: 26.81rem;
}
.line-div {
  position: absolute;
  top: -0.02rem;
  left: -0.02rem;
  border-top: 0.5px solid var(--color-silver);
  box-sizing: border-box;
  width: 76.72rem;
  height: 0.03rem;
}
.terms-of-use-parent {
  position: absolute;
  top: 31.81rem;
  left: 0;
  width: 76.69rem;
  height: 3.38rem;
  font-size: var(--font-size-sm);
}
.frame-group {
  position: absolute;
  top: 256.63rem;
  left: 11.5rem;
  /* width: 100%; */
  width: 76.69rem;
  height: 35.19rem;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
}
.desktop-53 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  /* height: 100vh; */
  height: 293.31rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1440px) {
  .frame-div {
    flex-direction: column;
  }
}
