@media screen and (max-width: 1240px) {
.desktop-53-item{
right: -5%;
/* bottom: 3870px; */
height: 780px;
}
}


@media screen and (max-width:980px) {
.my-periphery{
    text-align: center;
    width: 100%;
    left: 0px;
}
.rectangle-icon{
    display: none;
}
.rectangle-div{
    display:  none;
}
.watch-the-seminar-container1 {
    display: none;
}
.innovations-in-service{
    display: none;
}
.lorem-ipsum-dolor1{
    display: none;
}
.read-more-of{
    display: none;
}
.see-the-list-parent{
    display: none;
} 
    .rectangle-group0{
        width: 95%;
        left: 2.2%;
        top: 1660px;
    }
    .frame-inner{
        width: 80%;
        left: 10%;
    top: 140px;
    }
.stress-the-stress{
    width: 37%;
    left: 52%;
    font-size: 2em;
    top: 158px;
}
.published-on-july{
    left: 55%;
    top: 210px;
}
.have-you-ever{
    width: 37%;
    left: 50.35%;
    top: 246px;
}
.view-the-newsletter-parent{
    left: 52%;
    top: 554px;
}
.frame-parent{
    left: 14%;
}
.desktop-53-child1{
left: 5px;
top: 2011px;
}
.desktop-53-child2{
left: 94.5%;
cursor: pointer;
top: 2011px;
}

    .desktop-53{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .desktop-53-child{
        height: 2100px;
        overflow-x: hidden;
    overflow-y: scroll;
    }
    .hear-form-other-container{
        left: 25.9%;
        width: 50%;
        top: 25px;
    }

    .dr-ravi-chatterjee{
        top: 20px;
    }
    .desktop-53-item{
bottom: 3924px;
height: 770px;
    }
    .home-parent{
        display: none;
    }
    .open{
        display: inline-block;
        position: absolute !important;
        left: 88% !important;
        top: 20px !important;
        cursor: pointer !important;
    }
    .frame-div{
        width: 100%;
        left: 0px;
        padding: 70px 10px 10px;
    }
    .rectangle-parent{
        width: 100%;
    }
    .frame-child{
        width: 100%;
        border: 1px solid orange;
    }
    .i-am-dr-container{
        top: 51px;
        left: 10px;
    }
    .educator-entrepreneur{
        left: 10px;
    }
    .dr-ravi-chatterjee-container{
        top: 365px;
        left: 10px;
        width: 95.5%;
    }
    .linkedin-newsletter{
        top: 33px;
        left: 30%;
    }

    .rectangle-parent1{
top: 805px;
left: 485px;
    }
    .rectangle-parent2{
top: 680px;
left: 592px;
    }
    .rectangle-parent3{
top: 893px;
left: 627px;
    }
    .name-of-the-person-parent{
        top: 750px;
        left: 725px;
    }

    .terms-of-use-parent{
        width: 100%;
        left: -106px;
        top: 1197px;
        height: 71px;
    }
    .dr-ravi-chatterjee2{
width: 195px;
left: 22.5%;
    }
    .terms-of-use{
        left: 72%;
    }
    .cookie-policy{
        left: 81%;
    }
    .privacy{
        left: 91%;
    }


.frame-parent1{
    top: 842px;
    left: 384px;
}
    .frame-child17{
        top: 750px;
        left: 385px;
    }


    .what-is-on-your-mind-parent {
        width: 32%;
        text-align: justify;
        top: 200px;
        left: 34%;
    }
    .wellbeing-and-career {
        left: 34%;
        width: 32%;
        line-height: 1.6;
        text-align: justify;
        top: 520px;
    }
.frame-child16{
    width: 30%;
    top: 460px;
    left: 1039px;
    height: 358.05px;
}
.lorem-ipsum-dolor2{
    top: 3536px;
    left: 38%;
} 

}

@media screen and (max-width:880px){
    .terms-of-use-parent{
        width: 89.25%;
    }
.dr-ravi-chatterjee2{
    left: 36.1%;;
}
}


@media screen and (max-width:850px){
.rectangle-group0{
    width: 95%;
    left: 2.2%;
    top: 1660px;
    height: 800px;
}
.frame-inner{
    width: 80%;
    left: 10%;
    top: 98px;
    height: 645px;
}
.linkedin-newsletter{
top: 9px;
width: 90%;
text-align: center;
left: 0px;
}
.stress-the-stress{
    width: 50%;
    left: 28%;
    top: 108px;
}
.published-on-july{
    left: 55%;
    top: 152px;
}
.have-you-ever{
    width: 75%;
    left: 12.45%;
    top: 512px;
}

.frame-parent{
    left: 14%;
}
.frame-icon{
    left: 66%;
    height: 282px;
    width: 216px;
    top: 0;
}
.frame{
    left: 66%;
    top: 232px;
    height: 64px;
    width: 216px;
}
.frame1{
    top: 235px;
    left: 204px;
    width: 233px;
}
.view-the-newsletter-parent{
    left: 32.5%;
    top: 680px;
}

}


@media screen and (max-width:775px){
    .dr-ravi-chatterjee{
        top: 20px;
    }
.desktop-53-inner{
    left: -113.63px;
}
.empowering-individuals-to{
    left: 92px;
}
.it-is-my{
    left: 92px;
    top: 450px;
}

.hear-form-other-container{
    left: 33.5%;
    width: 33%;
    text-align: center;
}

.frame-child16{
    width: 28%;
    height: 337.05px;
    top: 484px;
}

.lorem-ipsum-dolor2{
    top: 3576px;
    left: 38%;

}

}



@media screen and (max-width:700px){
    .empowering-individuals-to{
        left: 40px;
    }
    .it-is-my{
        left: 40px;
    }

    .ellipse-div{
        top: 103px;
        left: 150px;
    }
    
    .drrc-logo-1{
        top: 130px;
        left: 175px;
    }       
}

@media screen and (max-width:650px) {

.frame-child1{
    left: 490px;
    top: -28px;
    height: 260px;
}
.frame-child2{
    left: 490px;
    top: 233px;
    height: 90px;
    width: 278px;
}
.innovations-in-service1{
    left: 510px;
    top: 239px;
}
.watch-the-seminar-container{
    line-height: 1.2;
    font-size: 1.5em;
    top: 337px;
left: 400px;
}
.lorem-ipsum-dolor{
    font-size: 0.8em;
    top: 335px;
    left: 652px;
    width: 260px;
}
.read-more-of1{
    left: 372px;
    top: 562px;
}
.read-the-full-paper-group{
    left: 410.47px;
color: black;
top: 532px;
}
.see-the-list-group{
    left: 398px;
    top: 605px;
}

/* Footer Styling */
    .terms-of-use-parent{
        width: 82.25%;
    }
    .cookie-policy{
        left: 81.5%;
    }
    .dr-ravi-chatterjee2{
        left: 47%;
    }
    .lorem-ipsum-dolor2{
        top: 3561px;
        left: 34%;
        text-align: center;
    }
    .frame-child16{
        left: 1021px;
    }
    .name-of-the-person-parent{
left: 645px;
    }
.rectangle-parent1{
left: 545px;
}

.rectangle-group0{
    width: 95%;
    left: 2.2%;
    top: 1660px;
    height: 800px;
}
.frame-inner{
    width: 80%;
    left: 10%;
    top: 98px;
    height: 645px;
}
.linkedin-newsletter{
    top: 9px;
    width: 90%;
    text-align: center;
    left: 20px;
    font-size: 2.25em;
}
.stress-the-stress{
    width: 75%;
    left: 14%;
    top: 103px;
    font-size: 2em;
}
.published-on-july{
    left: 51%;
    top: 148px;
}
.have-you-ever{
    width: 75%;
    left: 12.45%;
    top: 450px;
}
.view-the-newsletter-parent{
    left: 28%;
    top: 658px;
}
.frame-parent{
    left: 0%;
    top: 187px;
}
.frame-icon{
    left: 66%;
height: 225px;
width: 216px;
top: 0;
}
.frame{
    left: 74%;
    top: 185px;
    height: 64px;
    width: 172px;
}
.frame1{
    top: 190px;
    left: 215px;
    width: 228px;
    font-size: 0.7em;
}
.desktop-53-child2{
    left: 92.5%;
}
}

@media screen and (max-width:550px){

    /* Periphery Section */

.frame-child1{
    left: 505px;
top: -82px;
height: 260px;
}
.frame-child2{
top: 178px;
left: 505px;
}
.innovations-in-service1{
    left: 522px;
    top: 182px;
}
.watch-the-seminar-container{
    top: 300px;
    font-size: 1.25em;
    left: 440px;
}
.lorem-ipsum-dolor{
    font-size: 0.7em;
    top: 298px;
    left: 648px;
    width: 15%;
    text-align: justify;
}
.read-more-of1{
    left: 520px;
    top: 559px;
}
.read-the-full-paper-group{
    left: 467.47px;
    top: 468px;
}
.see-the-list-group{
    left: 554px;
    top: 606px;
}
.my-periphery{
    top: 2400px;

}

    .rectangle-group0{
width: 94%;
left: 2.8%;
padding: 5px;
top: 1685px;
height: 687px;
    }
    .frame-inner{
width: 80%;
left: 10%;
top: 85px;
height: 532px;
    }
    .stress-the-stress{
        width: 75%;
        left: 14%;
        top: 90px;
        font-size: 1.75em;
    }
    .published-on-july{
left: 33%;
top: 130px;
    }
    .linkedin-newsletter{
font-size: 1.8em;
text-align: center;
    }
    .have-you-ever{
width: 78%;
top: 397px;
font-size: 0.9em;
padding: 5px 5px 5px 0px;
text-align: center;
left: 49px;
    }
    .view-the-newsletter-parent{
left: 26%;
top: 627px;
    }
    .frame-parent{
left: -9%;
top: 175px;
    }
    .frame-icon{
width: 86%;
height: 206px;
left: 66%;
    }
    .frame{
        left: 81.5%;
        top: 159px;
        height: 54px;
        width: 156px;
    }
    .frame1{
        top: 164px;
        left: 236px;
        width: 216px;
        font-size: 0.9em;
    }
    .the-linkedin-article-parent{
        width: 196px;
        font-size: 0.6em;
    }
    .view-the-full-version-parent{
        font-size: 1.25em;
    }
    .desktop-53-child1{
left: 1.1%;
top: 2010px;
    }
    .desktop-53-child2{
        left: 91.75%;
top: 2010px;
    }
}

@media screen and (max-width:520px){
    .desktop-53-child{
        /* height: 1725px; */
        height: 2150px;
    }
    .empowering-individuals-to{
        left: 40px;
    }
    .it-is-my{
        left: 40px;
    }

    .ellipse-div{
        top: 90px;
        left: 40px;
    }
    
    .drrc-logo-1{
        top: 117px;
        left: 65px;
    }       

.dr-ravi-chatterjee2{
left: 62.8%;
top: 6px;
}
.terms-of-use-parent{
    top: 1209px;
}
.privacy{
left: 84%;
top: 58px;
/* top: 62px; */
}
.terms-of-use{
left: 54%;
top: 58px;
/* top: 62px; */
}
.cookie-policy{
left: 68.5%;
top: 58px;
/* top: 62px; */
}
}


@media screen and (max-width:455px){
    .open{
        top:16.5px !important;
        left: 87% !important;
    }
    .frame-item{
        height: 625px;
    }

    .dr-ravi-chatterjee{
        top: 20px;
        left: 15px;
    }
    .empowering-individuals-to{
        left: 15px;
        width: 90%;

    }
    .it-is-my{
        left: 15px;
       width: 90%;
       top:500px;
    }
.i-am-dr-container{
    top:30px;
    left:-58px;
}
    .educator-entrepreneur{
        top: 295px;
    }
    .dr-ravi-chatterjee-container{
        top: 360px;
    }
    .frame-child17{
        left: 412px;
        width: 400px;
    }
    .frame-parent1{
        left: 412px;
        width: 400px;
    }
    .rectangle-group0{
height: 711px;
    }
    .frame-inner{
width: 80%;
left: 10%;
top:113px;
height: 538px;
    }
    .linkedin-newsletter{
font-size: 1.8em;
width: 90%;
text-align: center;
    }
    .stress-the-stress{
text-align: center;
top: 117px;
width: 72%;
font-size: 1.55em;
    }
    .published-on-july{
left: 27%;
top: 157px;
    }
    .have-you-ever{
width: 78%;
top: 417px;
left: 49px;
    }
    .view-the-newsletter-parent{
        left: 19%;
        top: 656px;
    }
    .frame-parent{
left: -26%;
top: 191px;
    }
    .desktop-53-child1{
left: 1.1%;
    }
    .desktop-53-child2{
        left: 90%;
    }
}


@media screen and  (max-width:490px) {
    .frame-child{
        height: 620px;
    }
    .frame-item{
        height: 618px;
    }
.i-am-dr-container{
left: 5px;
}
.dr-ravi-chatterjee-container{
    padding: 3px;
}
.hear-form-other-container{
    font-size: 0.89em;
    left: 39%;
    width: 22%;
}

.frame-child17{
    width: 390px;
}
.frame-parent1{
    width: 390px;
}

.frame-child16{
left: 983px;
width: 23%;
top: 530px;
height: 318.05px;
}
.lorem-ipsum-dolor2{
top: 3609px;
left: 26%;
}

}

@media screen and (max-width:430px){
    /* Periphery Section */
    .watch-the-seminar-container{
line-height: 1.5;
top: 300px;
font-size: 0.9em;
left: 497px;
    }
    .lorem-ipsum-dolor{
        font-size: 0.6em;
        top: 294px;
        left: 649px;
        width: 11%;
    }
    .read-the-full-paper-group{
        font-size: 0.6em;
        left: 514.47em;
        top: 442px;
    }
    .my-periphery{
        top: 2424px;
        font-size: 1.9em;
    }
}

@media screen and (max-width:410px) {
    .desktop-53-inner{
        left: -309px;
        top: -57px;
    }
    .desktop-53-item{
        right: -15%;
    }
    .it-is-my{
        padding: 4px 6px;
border-radius: 3px;
        font-size: 1.2em;
        background-color: rgba(255, 255, 255, 0.561);
    }
    .frame-child{
height: 635px;        
    }
    .frame-item{
        height: 634px;
        width: 100%;
    }
    .i-am-dr-container{
        font-size: 3em;
    }
    .dr-ravi-chatterjee-container{
        font-size: 0.9em;
    }
    .get-to-know-me-more-parent{
        top: 670px;
    }
    .frame-child17{
left: 442px;
width: 340px;
    }
    .frame-parent1{
        width: 340px;
        left: 442px;
    }
    .what-is-on-your-mind-parent{
width: 28%;
left: 36%;
    }
    .wellbeing-and-career{
width: 28%;
left: 36%;
    }
}

@media screen and (max-width:385px) {
    .it-is-my{
        padding: 5px;
top: 510px;
border-radius: 3px;
        font-size: 1.2em;
        /* background-color: rgba(255,255,255,0.85); */
    }
    .i-am-dr-container{
        font-size: 2.5em;
    }
    .educator-entrepreneur{
font-size: 1em;
    }
    .dr-ravi-chatterjee-container{
        font-size: 0.85em;
        line-height: 1.6;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.2);
    }

    .frame-child16{
left: 967px;
width: 21%;
height: 295.5px;
top: 562px;
}
    .lorem-ipsum-dolor2{
font-size: 0.89em;
top: 3656px;
left: 15.5%;
text-align: center;
    }
.name-of-the-person-parent{
left: 597px;
top: 766px;
}
.rectangle-parent1{
    left: 593px;
    top: 830px;

}

.rectangle-group0{
height: 711px;
}
/* .frame-inner{

}
.linkedin-newsletter{

} */
/* .stress-the-stress{

} */
.published-on-july{
left: 24%;
top: 157px;
}
.have-you-ever{
top: 413px;
left: 41px;
font-size: 0.8em;
}
.view-the-newsletter-parent{
left: 11%;
}
.frame-parent{
left: -41%;
top: 191px;
}
.desktop-53-child2{
left: 88.5%;
}

}

@media screen and (max-width:365px){
 .dr-ravi-chatterjee2{
    left:61.8%;
 }
    .terms-of-use{
left: 56.8%;

    }
    .privacy{
left: 81%;
    }
    .cookie-policy{
        left: 68.8%;
    }
    .hear-form-other-container{
        left: 41.4%;
        width: 17%;
    }
    .what-is-on-your-mind-parent{
left: 37%;
width: 26%;
    }
.wellbeing-and-career{
left: 37%;
width: 26%;
}

}
