@media screen and (max-width: 1240px) {
.desktop-53-item{
right: -5%;
/* bottom: 3870px; */
height: 780px;
}
}


@media screen and (max-width:980px) {
    .dr-ravi-chatterjee{
        top: 20px;
    }
    .desktop-53-item{
bottom: 3924px;
height: 770px;
    }
    .home-parent{
        display: none;
    }
    .bi{
        display: inline-block;
        position: absolute;
        left: 88%;
        top: 20px;
        cursor: pointer;
    }
    .frame-div{
        width: 100%;
        left: 0px;
        padding: 70px 10px 10px;
    }
    .rectangle-parent{
        width: 100%;
    }
    .frame-child{
        width: 100%;
        border: 1px solid orange;
    }
    .i-am-dr-container{
        top: 51px;
        left: 10px;
    }
    .educator-entrepreneur{
        left: 10px;
    }
    .dr-ravi-chatterjee-container{
        top: 365px;
        left: 10px;
        width: 95.5%;
    }
}

@media screen and (max-width:775px){
    .dr-ravi-chatterjee{
        top: 20px;
    }
.desktop-53-inner{
    left: -113.63px;
}
.empowering-individuals-to{
    left: 92px;
}
.it-is-my{
    left: 92px;
    top: 450px;
}

}



@media screen and (max-width:700px){
    .empowering-individuals-to{
        left: 40px;
    }
    .it-is-my{
        left: 40px;
    }

    .ellipse-div{
        top: 103px;
        left: 150px;
    }
    
    .drrc-logo-1{
        top: 130px;
        left: 175px;
    }       
}



@media screen and (max-width:520px){
    .empowering-individuals-to{
        left: 40px;
    }
    .it-is-my{
        left: 40px;
    }

    .ellipse-div{
        top: 90px;
        left: 40px;
    }
    
    .drrc-logo-1{
        top: 117px;
        left: 65px;
    }       
}


@media screen and (max-width:455px){
    .bi{
        top:16.5px;
        left: 87%;
    }
    .frame-item{
        height: 625px;
    }

    .dr-ravi-chatterjee{
        top: 20px;
        left: 15px;
    }
    .empowering-individuals-to{
        left: 15px;
        width: 90%;

    }
    .it-is-my{
        left: 15px;
       width: 90%;
       top:490px;
    }
.i-am-dr-container{
    top:30px;
    left:-58px;
}
    .educator-entrepreneur{
        top: 295px;
    }
    .dr-ravi-chatterjee-container{
        top: 360px;
    }
}


@media screen and  (max-width:490px) {
    .frame-child{
        height: 620px;
    }
    .frame-item{
        height: 618px;
    }
.i-am-dr-container{
left: 5px;
}
.dr-ravi-chatterjee-container{
    padding: 3px;
}
}


@media screen and (max-width:410px) {
    .frame-child{
height: 635px;        
    }
    .frame-item{
        height: 634px;
        width: 100%;
    }
    .i-am-dr-container{
        font-size: 3em;
    }
    .dr-ravi-chatterjee-container{
        font-size: 0.9em;
    }
    .get-to-know-me-more-parent{
        top: 670px;
    }
}

@media screen and (max-width:385px) {
    .it-is-my{
        padding: 5px;
top: 507px;
border-radius: 3px;
        font-size: 1.2em;
        background-color: rgba(255,255,255,0.85);
    }
    .i-am-dr-container{
        font-size: 2.5em;
    }
    .educator-entrepreneur{
font-size: 1em;
    }
    .dr-ravi-chatterjee-container{
        font-size: 0.85em;
        line-height: 1.6;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.2);
    }
}